{% block footer %}
<!-- Footer -->
        <footer>
        <div id="footer-collapsed">
            <div class="footer-navbar">
                <div class="container">
                    <div class="arrow link hidden-xs hidden-sm">
                        <i class="icon flaticon-down14"></i>
                    </div>
                    <div class="collapsed-block">
                        <div class="inside">
                            <h3><span class="link">Information</span><a class="expander visible-sm visible-xs" href="#TabBlock-2">+</a></h3>
                            <div class="tabBlock" id="TabBlock-2">
                                <ul class="menu">
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="#">Shipping &amp; Returns</a></li>
                                    <li><a href="#">Privacy Notice</a></li>
                                    <li><a href="#">Conditions of Use</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="collapsed-block">
                        <div class="inside">
                            <h3><span class="link">Customer service</span><a class="expander visible-sm visible-xs" href="#TabBlock-3">+</a></h3>
                            <div class="tabBlock" id="TabBlock-3">
                                <ul class="menu">
                                    <li><a href="#">Online support</a></li>
                                    <li><a href="#">Help & FAQs</a></li>
                                    <li><a href="#">Call Center</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="collapsed-block">
                        <div class="inside">
                            <h3><span class="link">My account</span><a class="expander visible-sm visible-xs" href="#TabBlock-4">+</a></h3>
                            <div class="tabBlock" id="TabBlock-4">
                                <ul class="menu">
                                    <li><a href="#">My Account</a></li>
                                    <li><a href="#">Order history</a></li>
                                    <li><a href="#">Advanced search</a></li>
                                    <li><a href="#">Reviews</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="collapsed-block">
                        <div class="inside">
                            <h3><span class="link">Find Us</span><a class="expander visible-sm visible-xs" href="#TabBlock-5">+</a></h3>
                            <div class="tabBlock" id="TabBlock-5">
                                <ul class="socials socials-lg">
                                    <li><a href="#"><span class="icon flaticon-facebook12"></span></a></li>
                                    <li><a href="#"><span class="icon flaticon-twitter20"></span></a></li>
                                    <li><a href="#"><span class="icon flaticon-google10"></span></a></li>
                                    <li><a href="#"><span class="icon flaticon-pinterest9"></span></a></li>
                                    <li><a href="#"><span class="icon flaticon-linkedin11"></span></a></li>
                                    <li><a href="#"><span class="icon flaticon-youtube18"></span></a></li>
                                    <li><a href="#"><span class="icon flaticon-instagram"></span></a></li>
                                    <li><a href="#"><span class="icon flaticon-skype12"></span></a></li>
                                </ul>
                                <div class="divider divider-sm visible-xs visible-sm">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapsed-block">
                        <div class="inside">
                            <h3><span class="link">CUSTOM HTML BLOCK</span><a class="expander visible-sm visible-xs" href="#TabBlock-6">+</a></h3>
                            <div class="tabBlock" id="TabBlock-6">
                                <ul class="menu menu-icon">
                                    <li><span class="icon flaticon-home113"></span>7563 St. Vincent Place, Glasgow</li>
                                    <li><span class="icon flaticon-phone163"></span>321321321, 321321321</li>
                                    <li><span class="icon icon-xs flaticon-new78"></span><a href="mailto:info@mydomain.com">info@mydomain.com</a></li>
                                    <li><span class="icon flaticon-skype12"></span><a href="#">shop.test</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 copyright">
                            © 2015 <a href="#">Coolbaby</a>. All Rights Reserved.
                        </div>
                        <div class="col-md-4">
                            <ul class="payment-list pull-right">
                                <li><img src="images/icon-payment-01.png" width="36" height="22" alt=""></li>
                                <li><img src="images/icon-payment-02.png" width="36" height="22" alt=""></li>
                                <li><img src="images/icon-payment-03.png" width="36" height="22" alt=""></li>
                                <li><img src="images/icon-payment-04.png" width="36" height="22" alt=""></li>
                                <li><img src="images/icon-payment-05.png" width="36" height="22" alt=""></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </footer>
{% endblock %}