<div class="navbar-main-menu-outer hidden-xs">
    <div class="container">
        <dl class="navbar-main-menu">
            <dt class="item"><a href="{{path('homepage')}}" class="btn-main"><span class="icon icon-xl flaticon-home113"></span></a></dt>
                        <dd></dd>
                        <dt class="item"><a href="{{path('homepage')}}" class="btn-main">Home</a></dt>
                        
                        <dt class="item"><a href="{{path('produits')}}" class="btn-main">Haute coûture</a></dt>
                        
                        <dt class="item"><a href="#" class="btn-main">Prêt a porter</a></dt>
                        <dd class="item-content content-small">
                        <div class="megamenuClose">
                        </div>
                        <ul class="row-list">
                            <li><a href="product-classic.html">Classic</a></li>
                            <li><a href="product.html">Creative</a></li>
                            <li><a href="product-classic-elevatezoom.html">Classic Free Zoom</a></li>
                            <li><a href="product-elevatezoom.html">Creative Free Zoom</a></li>
                        </ul>
                        </dd>
                        
                        <dt class="item"><a href="#" class="btn-main">Accessoires</a></dt>
                        <dd class="item-content content-small">
                        <div class="megamenuClose">
                        </div>
                        <ul class="row-list">
                            <li><a href="page-404.html">404 Page</a></li>
                            <li><a href="page-infographic.html">infographic</a></li>
                            <li><a href="page-typography.html">Typography</a></li>
                            <li><a href="page-blank.html">Blank Page</a></li>
                            <li><a href="page-faq.html">FAQ</a></li>
                            <li><a href="page-price-tables.html">Prices</a></li>
                            <li><a href="page-our-office.html">OUR OFFICE</a></li>
                            <li><a href="page-our-story.html">OUR STORY</a></li>
                            <li><a href="page-team.html">OUR TEAM</a></li>
                            <li><a href="page-about.html">About Us</a></li>
                            <li><a href="page-delivery.html">Delivery</a></li>
                            <li><a href="page-services.html">Services</a></li>
                            <li><a href="page-sitemap.html">Sitemap</a></li>
                            <li><a href="page-contact.html">Contact Us</a></li>
                            <li><a href="page-video.html">Video</a></li>
                        </ul>
                        </dd>
                        <dt class="item"><a href="#" class="btn-main line">Femmes</a></dt>
                        <dd class="item-content">
                        <div class="megamenuClose">
                        </div>
                        <div class="navbar-main-submenu">
                            <ul class="exclusive top">
                                <li><span class="icon flaticon-gift1"></span><a href="listing.html">Gifts exclusive</a></li>
                                <li><span class="icon flaticon-coin11"></span><a href="listing.html">Offers</a></li>
                            </ul>
                            <div class="wrapper-border">
                                <div class="row">
                                    <!-- caregories -->
                                    <div class="col-sm-12 col-md-9">
                                        <div class="row">
                                            <div class="col-xs-6 col-md-4 col-lg-3">
                                                <div class="submenu-block">
                                                    <span class="icon"><img src="images/icon-category1.png" alt=""></span><a class="name" href="listing.html">Dresses</a>
                                                    <ul>
                                                        <li><a href="listing.html">Club Dresses</a></li>
                                                        <li><a href="listing.html">Evening Dresses</a></li>
                                                        <li><a href="listing.html">Prom Dresses</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-md-4 col-lg-3">
                                                <div class="submenu-block">
                                                    <span class="icon"><img src="images/icon-category2.png" alt=""></span><a class="name" href="listing.html">SHIRTS</a>
                                                    <ul>
                                                        <li><a href="listing.html">Empty category #1</a></li>
                                                        <li><a href="listing.html">Empty category #2</a></li>
                                                        <li><a href="listing.html">Empty category #3</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-md-4 col-lg-3">
                                                <div class="submenu-block">
                                                    <span class="icon"><img src="images/icon-category3.png" alt=""></span><a class="name" href="listing.html">COATS</a>
                                                    <ul>
                                                        <li><a href="listing.html">Empty category #4</a></li>
                                                        <li><a href="listing.html">Empty category #5</a></li>
                                                        <li><a href="listing.html">Empty category #6</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-md-4 col-lg-3">
                                                <div class="submenu-block">
                                                    <span class="icon"><img src="images/icon-category7.png" alt=""></span><a class="name" href="listing.html">JACKETS</a>
                                                    <ul>
                                                        <li><a href="listing.html">Empty category #7</a></li>
                                                        <li><a href="listing.html">Empty category #8</a></li>
                                                        <li><a href="listing.html">Empty category #9</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-md-4 col-lg-3">
                                                <div class="submenu-block">
                                                    <span class="icon"><img src="images/icon-category4.png" alt=""></span><a class="name" href="listing.html">SHORTS</a><span class="label label-cool">-15%</span>
                                                    <ul>
                                                        <li><a href="listing.html">Empty category #10</a></li>
                                                        <li><a href="listing.html">Empty category #11</a></li>
                                                        <li><a href="listing.html">Empty category #12</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-md-4 col-lg-3">
                                                <div class="submenu-block">
                                                    <span class="icon"><img src="images/icon-category5.png" alt=""></span><a class="name" href="listing.html">JEANS</a>
                                                    <ul>
                                                        <li><a href="listing.html">Empty category #10</a></li>
                                                        <li><a href="listing.html">Empty category #11</a></li>
                                                        <li><a href="listing.html">Empty category #12</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-md-4 col-lg-3">
                                                <div class="submenu-block">
                                                    <span class="icon"><img src="images/icon-category6.png" alt=""></span><a class="name" href="listing.html">SKIRTS</a>
                                                    <ul>
                                                        <li><a href="listing.html">Empty category #16</a></li>
                                                        <li><a href="listing.html">Empty category #17</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-md-4 col-lg-3">
                                                <div class="submenu-block">
                                                    <span class="icon"><img src="images/icon-category8.png" alt=""></span><a class="name" href="listing.html">LINGERIE</a>
                                                    <ul>
                                                        <li><a href="listing.html">Empty category #18</a></li>
                                                        <li><a href="listing.html">Empty category #19</a></li>
                                                        <li><a href="listing.html">Empty category #20</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-md-4 col-lg-3">
                                                <div class="submenu-block">
                                                    <span class="icon"><img src="images/icon-category9.png" alt=""></span><a class="name" href="listing.html">Tops</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- //end caregories -->
                                    <!-- //end caregories -->
                                    <!-- html block -->
                                    <div class="col-md-3 hidden-sm hidden-xs">
                                        <div class="img-fullheight">
                                            <img class="img-responsive" src="images/menu-img-right-1.png" alt="">
                                        </div>
                                    </div>
                                    <!-- //end html block -->
                                </div>
                            </div>
                            <ul class="exclusive bottom">
                                <li><span class="icon flaticon-like"></span><a href="listing.html">SPECIAL OFFER</a></li>
                                <li><span class="icon flaticon-outlined3"></span><a href="listing.html">UP TO 50% OFF DISCOUNTS</a></li>
                            </ul>
                        </div>
                        </dd>

                        <dt class="item"><a href="#" class="btn-main line">Hommes</a></dt>
                        <dd class="item-content">
                        <div class="megamenuClose">
                        </div>
                        <div class="navbar-main-submenu">
                            <ul class="exclusive top">
                                <li><span class="icon flaticon-gift1"></span><a href="listing.html">Gifts exclusive</a></li>
                                <li><span class="icon flaticon-coin11"></span><a href="listing.html">Offers</a></li>
                            </ul>
                            <div class="wrapper-border">
                                <div class="row">
                                    <!-- caregories -->
                                    <div class="col-sm-12 col-md-9">
                                        <div class="row">
                                            <div class="col-xs-6 col-md-4 col-lg-3">
                                                <div class="submenu-block">
                                                    <span class="icon"><img src="images/icon-category1.png" alt=""></span><a class="name" href="listing.html">Dresses</a>
                                                    <ul>
                                                        <li><a href="listing.html">Club Dresses</a></li>
                                                        <li><a href="listing.html">Evening Dresses</a></li>
                                                        <li><a href="listing.html">Prom Dresses</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-md-4 col-lg-3">
                                                <div class="submenu-block">
                                                    <span class="icon"><img src="images/icon-category2.png" alt=""></span><a class="name" href="listing.html">SHIRTS</a>
                                                    <ul>
                                                        <li><a href="listing.html">Empty category #1</a></li>
                                                        <li><a href="listing.html">Empty category #2</a></li>
                                                        <li><a href="listing.html">Empty category #3</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-md-4 col-lg-3">
                                                <div class="submenu-block">
                                                    <span class="icon"><img src="images/icon-category3.png" alt=""></span><a class="name" href="listing.html">COATS</a>
                                                    <ul>
                                                        <li><a href="listing.html">Empty category #4</a></li>
                                                        <li><a href="listing.html">Empty category #5</a></li>
                                                        <li><a href="listing.html">Empty category #6</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-md-4 col-lg-3">
                                                <div class="submenu-block">
                                                    <span class="icon"><img src="images/icon-category7.png" alt=""></span><a class="name" href="listing.html">JACKETS</a>
                                                    <ul>
                                                        <li><a href="listing.html">Empty category #7</a></li>
                                                        <li><a href="listing.html">Empty category #8</a></li>
                                                        <li><a href="listing.html">Empty category #9</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-md-4 col-lg-3">
                                                <div class="submenu-block">
                                                    <span class="icon"><img src="images/icon-category4.png" alt=""></span><a class="name" href="listing.html">SHORTS</a><span class="label label-cool">-15%</span>
                                                    <ul>
                                                        <li><a href="listing.html">Empty category #10</a></li>
                                                        <li><a href="listing.html">Empty category #11</a></li>
                                                        <li><a href="listing.html">Empty category #12</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-md-4 col-lg-3">
                                                <div class="submenu-block">
                                                    <span class="icon"><img src="images/icon-category5.png" alt=""></span><a class="name" href="listing.html">JEANS</a>
                                                    <ul>
                                                        <li><a href="listing.html">Empty category #10</a></li>
                                                        <li><a href="listing.html">Empty category #11</a></li>
                                                        <li><a href="listing.html">Empty category #12</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-md-4 col-lg-3">
                                                <div class="submenu-block">
                                                    <span class="icon"><img src="images/icon-category6.png" alt=""></span><a class="name" href="listing.html">SKIRTS</a>
                                                    <ul>
                                                        <li><a href="listing.html">Empty category #16</a></li>
                                                        <li><a href="listing.html">Empty category #17</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-md-4 col-lg-3">
                                                <div class="submenu-block">
                                                    <span class="icon"><img src="images/icon-category8.png" alt=""></span><a class="name" href="listing.html">LINGERIE</a>
                                                    <ul>
                                                        <li><a href="listing.html">Empty category #18</a></li>
                                                        <li><a href="listing.html">Empty category #19</a></li>
                                                        <li><a href="listing.html">Empty category #20</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-md-4 col-lg-3">
                                                <div class="submenu-block">
                                                    <span class="icon"><img src="images/icon-category9.png" alt=""></span><a class="name" href="listing.html">Tops</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- //end caregories -->
                                    <!-- //end caregories -->
                                    <!-- html block -->
                                    <div class="col-md-3 hidden-sm hidden-xs">
                                        <div class="img-fullheight">
                                            <img class="img-responsive" src="images/menu-img-right-1.png" alt="">
                                        </div>
                                    </div>
                                    <!-- //end html block -->
                                </div>
                            </div>
                            <ul class="exclusive bottom">
                                <li><span class="icon flaticon-like"></span><a href="listing.html">SPECIAL OFFER</a></li>
                                <li><span class="icon flaticon-outlined3"></span><a href="listing.html">UP TO 50% OFF DISCOUNTS</a></li>
                            </ul>
                        </div>
                        </dd>
                        <dt class="item"><a href="{{path('contact')}}" class="btn-main">Contact</a></dt>
                        <dd></dd>
                    </dl>
                </div>
 </div>