{% extends 'base.html.twig' %}

{% block body %}
  <section>
        <div class="products-land">
            <div class="item">
                <img src="images/products/image-land-01.jpg" alt="">
                <div class="hover">
                </div>
                <div class="info top-left text-center">
                    <div class="inside">
                        <h6>Shop arrivals!</h6>
                        <h2 class="border">POPULAR BAGS</h2>
                        <h4>hottest, trending, reclaimed luxury product</h4>
                        <a href="listing.html" class="btn-cool btn-light">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="images/products/image-land-02.jpg" alt="">
                <div class="hover">
                </div>
                <div class="stamp top-right">
                    <div class="inside">
                        UP<span>50%</span>TO
                    </div>
                </div>
                <div class="info bottom-center text-center">
                    <div class="inside">
                        <h6>anniversary event</h6>
                        <h2 class="border">exclusive jewelry</h2>
                        <h4>Special Pricing on all jewelry designers</h4>
                        <a href="listing.html" class="btn-cool btn-light">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="images/products/image-land-03.jpg" alt="">
                <div class="hover">
                </div>
                <div class="info invert top-right text-center">
                    <div class="inside">
                        <h6>NOW TRENDING</h6>
                        <h2 class="border">LADIES’ WATCHES</h2>
                        <h4>ESIGNS OF THE YEAR<br>
                         2015</h4>
                        <a href="listing.html" class="btn-cool btn-light">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="images/products/image-land-04.jpg" alt="">
                <div class="hover">
                </div>
                <div class="inside">
                    <div class="info bottom-center text-right">
                        <h2 class="quote">Elegance<br>
                         is the only beauty<br>
                         that never fades</h2>
                        <h4>— Audrey Hepburn</h4>
                        <a href="listing.html" class="btn-cool btn-dark">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="item double-width">
                <img src="images/products/image-land-05.jpg" alt="">
                <div class="hover">
                </div>
                <div class="stamp bottom-left">
                    <div class="inside">
                        UP<span>25%</span>TO
                    </div>
                </div>
                <div class="info top-right text-center">
                    <div class="inside">
                        <h6>For Men Only</h6>
                        <h2 class="border">Special weekend discounts</h2>
                        <h4>Featured Men's Suits and Fashion<br>
                         Accessories</h4>
                        <a href="listing.html" class="btn-cool btn-white">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="item double-width">
                <img src="images/products/image-land-06.jpg" alt="">
                <div class="hover">
                </div>
                <div class="info middle-right invert text-center">
                    <div class="inside">
                        <h6>crazy deal: only monday & tuesday</h6>
                        <h2 class="border">girls SUMMER COLLECTIONS</h2>
                        <h4>Save 20-40% at our shop<br>
                         and get free shippng</h4>
                        <a href="listing.html" class="btn-cool btn-light">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="images/products/image-land-07.jpg" alt="">
                <div class="hover">
                </div>
                <div class="info middle-left text-center">
                    <div class="inside">
                        <div class="stamp">
                            <div class="inside">
                                UP<span>50%</span>TO
                            </div>
                        </div>
                        <h2 class="underline">FALL FASHION</h2>
                        <h4>mini style, big brands,<br>
                         always 50% oFF<br>
                         or less</h4>
                        <a href="listing.html" class="btn-cool btn-dark">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
        </section> 
{% endblock %}

