{% extends 'base.html.twig' %}

{% block body %}
	<!-- Breadcrumbs-->
		<section class="breadcrumbs">
		<div class="container">
			<a href="index.html">home</a><span class="divider">&nbsp;</span><span>Shopping Cart</span>
		</div>
		</section>
		<!-- //end Breadcrumbs -->
		<!--Page Content-->
		<section class="container content">
		<div class="subtitle">
			<div>
				<span>Shopping Cart</span>
			</div>
		</div>
		<div class="divider-lg">
		</div>
		<div class="divider-lg">
		</div>
		<div class="text-center">
			<div class="big-icon">
				<span class="icon flaticon-shopping185"></span>
			</div>
			<h1>Shopping Cart is Empty <span class="sub-header">You have no items in your shopping cart.</span></h1>
			<div class="divider-lg">
			</div>
			<a href="#" class="btn btn-cool btn-lg">BACK TO PREVIOUS PAGE </a>
		</div>
		<div class="divider-lg">
		</div>
		<div class="divider-lg">
		</div>
		<div class="divider-lg">
		</div>
		<div class="divider-lg">
		</div>
		<div class="divider-lg">
		</div>
		<div class="divider-lg">
		</div>
		<div class="divider-lg">
		</div>
		</section>
		<!-- //end Page Content -->
		
{% endblock %}
