/*********************************************
	-	SETTINGS FOR BANNER CONTAINERS	-
**********************************************/

.tp-banner-container {
	width:100%;
	position:relative;
	padding:0;
}
.tp-banner {
	width:100%;
	position:relative;
	visibility:hidden;
}

.tp-banner-fullscreen-container {
	width:100%;
	position:relative;
	padding:0;
}

.tp-leftarrow.default, .tp-rightarrow.default {
	border: none;
    color: #b08c66;
	background: #fff;
	height:54px;
	width:54px;
}
.tp-rightarrow.default {
}
.tp-leftarrow.default:hover, .tp-rightarrow.default:hover  {
	outline: none;
	background: #b08c66;
	color: #fff;
}
.tp-leftarrow.default:hover:before, .tp-rightarrow.default:hover:before {
	opacity: 1;
}
.tp-leftarrow.default:before, .tp-rightarrow.default:before {
	display:block;
	position:absolute;
	width:100%;
	text-align:center;
	left:0;
	top:0;
	font-family: "Flaticon";
	font-size: 16px;
	line-height: 52px;
	opacity: 1;
	text-indent:0;
	color:#b08c66;
}
.tp-leftarrow.default:before {
	content: '\e02d';
}
.tp-rightarrow.default:before {
	content: '\e042';
}
.tp-leftarrow.default:hover:before, .tp-rightarrow.default:hover:before {
	color:#fff;
}
.tp-leftarrow.default:before {
	margin: 0 0 0 -1px
}
.tp-rightarrow.default:before {
	margin: 0 0 0 1px
}
.text1 {
	font: normal 160px/1em  'Playball', cursive;
	color:#f6ecdc;
	font-style: italic;
}
.text2 {
	font: normal 34px/1em  'Playball', cursive;
	color:#cfaa6e;
	font-style: italic;
}
.text3 {
	font: normal 160px/1em  'Playball', cursive;
	color:#69462a;
	font-style: italic;
}
.text4 {
	font: normal 34px/1em  'Playball', cursive;
	color:#000;
	font-style: italic;
}
